// ========== 6.11. BEGIN TRAINING LIST PAGE====== //
.training-list {
  &__page-container {
    background-color: $white;
  }

  &__tabs {
    @include tabs-container;
  }

  &__tabs-title {
    width: 33.33%;
    text-align: center;
  }

  &__tabs-title a {
    @include breakpoint(small) {
      font-size: rem-calc(12);
    }
    @include breakpoint(medium) {
      font-size: rem-calc(14);
    }
    @include breakpoint(large) {
      font-size: rem-calc(18);
    }

    &:hover {
      color: $black;
    }
  }

  &__tabs-content {
    @include tabs-content;
  }

  &__tabs-panel {
    @include tabs-panel;
  }

  &__published-date {
    text-shadow: 2px 0 0 #000, 2px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
      1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 5px #000;
  }
}
// ========== END TRAINING LIST PAGE ========== //
