// ========== 6.9. BEGIN TRAINING LIST PAGE====== //
.training-group {
  &__page-container {
    background-color: $white;
  }

  &__article {
    margin-top: rem-calc(2rem);
    margin-bottom: rem-calc(4rem);
  }

  &__article-header {
    margin-bottom: rem-calc(4rem);
  }

  &__article-content {
    margin-bottom: rem-calc(4rem);
  }

  &__pagination {
    margin-top: rem-calc(1rem);
  }
}
// ========== END TRAINING LIST PAGE ========== //
