<header class="site-header">
	<div class="site-header__container" id="siteHeader" data-sticky data-options="marginTop:0;">
		<!-- begin menu main desktop -->
		<div class="site-header__menu-main">{{> menu-main}}</div>
		<!-- end menu main desktop -->

		<!-- begin header social icon end search toggle desktop -->
		{{#ifequal layout 'default'}} {{> social-button-site-header}} {{else}} {{>
    social-button-site-header}}
		<button type="button" class="search-toggle top-mobile__search-toggle" id="SearchToggleDesktop">
			<i class="fa fa-search"></i>
		</button>
		{{/ifequal}}
		<!-- end header social icon end search toggle desktop -->
	</div>
</header>
