{{#ifequal layout 'default'}}
  <footer id="footer" data-magellan-target="footer">
{{else}}
  <footer>
{{/ifequal}}
  <div class="footer" data-interchange="[{{root}}assets/images/section/bg.jpg, small], [{{root}}assets/images/footer/footer-bg.jpg, medium], [{{root}}assets/images/footer/footer-bg.jpg, large]">
    <div class="footer__container">
      {{#ifequal layout 'default'}}
        <div class="footer__image-container">
          <img class="footer__image" src="{{root}}/assets/images/footer/inga-square.jpg" alt="Фотограф Инга Заяц">
        </div>
        <div class="footer__text-container footer__text-container_text_center">
          <span class="footer__text-headline">Заголовок</span>
          <p class="footer__text footer__text_text_left">Вводный текст (вступление) Вводный текст (вступление) Вводный текст (вступление) Вводный текст (вступление) Вводный текст (вступление)</p>
        </div>
        <!-- begin form -->
        <div class="footer__form form__main-page">
          {{> form-main-page}}
        </div>
        <!-- end form -->
      {{else}}
        <!-- begin logo -->
        <div class="logo footer__logo">
          <div class="logo__image footer__logo-image">
            <img src="{{root}}assets/images/footer/logoGray_small.svg" alt="Фотограф Инга Заяц" height="250" width="260">
          </div>
        </div>
        <!-- end logo -->
      {{/ifequal}}    
    </div>
    <div class="footer__copyrighted">
      <p class="footer__copyrighted-title footer__copyrighted-title_text_left"> © Заяц И. В., 2018-</p>
    </div>
  </div>
</footer>