// ========== 5.21. BEGIN PROMO SECTION ========== //
.section-promo {
  @include xy-cell(12, $gutters: 0);
  background-color: $black;
  @include show-for(medium);

  &__logo {
    @include absolute-center;
  }

  &__video-container {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 50%;
  }

  &__video-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
  }
}
// ========== END PROMO SECTION ========== //
