// ====== 5.8. BEGIN COUNTERS ====== //
.counter {
  color: $highlight;

  &__link {
    color: $highlight;

    &:hover {
      color: darken($highlight, 10%);
    }
  }
}

.published-date {
  &__icon {
    color: $highlight;

    &_color_gray {
      color: $introtext-color;
    }

    &_color_dark-gray {
      color: $dark-gray;
    }

    &_color_white {
      color: $white;
    }
  }

  &__date {
    color: $highlight;

    &_color_gray {
      color: $introtext-color;
    }

    &_color_dark-gray {
      color: $dark-gray;
    }

    &_color_white {
      color: $white;
    }

    &_text_shadow {
      text-shadow: 1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
        1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000,
        1px 1px 5px #000;
    }
  }
}

.published-clock {
  &__icon {
    color: $highlight;

    &_color_gray {
      color: $introtext-color;
    }
  }

  &__time {
    color: $highlight;

    &_color_gray {
      color: $introtext-color;
    }
  }
}
// ====== END COUNTERS ====== //
