<section class="section section-about-me" id="sectionAbout" data-magellan-target="sectionAbout">
	<div class="section__bg-image"
		data-interchange="[{{root}}assets/images/section/bg.jpg, small], [{{root}}assets/images/section/about-me/about-me-bg.jpg, medium], [{{root}}assets/images/section/about-me/about-me-bg.jpg, large]">
		<h3 class="section__headline section__headline_text_center section-about-me__headline">
			- О Себе -
		</h3>
		<div class="section__container">
			<div class="section__block section__block_columns_four">
				<img src="{{root}}assets/images/section/about-me/inga-square.jpg" alt="Фотограф Инга Заяц"
					class="section-about-me__image" />
			</div>
			<div class="section__block section__block_columns_eight">
				<blockquote class="quote section-about-me__quote section-about-me__quote_text_right">
					<p class="quote__content section-about-me__quote-content">
						"Запечатлею самые прекрасные мгновения вашей жизни"
					</p>
					<cite class="quote__signature section-about-me__quote-signature">Инга Заяц</cite>
				</blockquote>
				<div class="section__introtext section-about-me__introtext">
					<p>
						Наверное каждому, кто зашел на мою страничку, интересно немного
						узнать обо мне. Меня зовут Инга Заяц. Да-да, моя фамилия Заяц! И это
						не псевдоним.С этим прекрасным именем и фамилией я родилась именно
						творческим человеком.
					</p>
					<p>
						Еще будучи маленькой девочкой я визуализировала возле себя разные
						картинки и композиции. Этот талант я решила дополнить знаниями и
						поступила на фотографа, где гуру преподаватели обучали меня основным
						правилам фотографии.
					</p>
				</div>
			</div>
			<div class="section__button section__button_position_right">
				<a href="{{root}}about-me.html" class="button">Узнать больше</a>
			</div>
		</div>
	</div>
</section>
