<section class="section section-blog" id="sectionBlog" data-magellan-target="sectionBlog">
  <h3 class="section__headline section__headline_text_center">- Мой блог -</h3>
  <div class="section__bg-image" data-interchange="[{{root}}assets/images/section/bg.jpg, small], [{{root}}assets/images/section/blog/blog-bg.jpg, medium], [{{root}}assets/images/section/blog/blog-bg.jpg, large]">
    <div class="section__card-container" data-equalizer data-equalize-by-row="true">

      <!-- begin blog card -->
      {{#repeat 2}}
      <div class="section__card section__card_columns_two">
        {{> s-blog-card}}
      </div>
      {{/repeat}}
      <!-- end blog card -->
          
    </div>
    
  </div>
</section>