<section class="section section-promo" id="sectionPromo" data-magellan-target="sectionPromo">
	<div class="section-promo__video-container">
		<div class="section-promo__video-overlay">
			<h3 class="section__headline hide">- Промо -</h3>
			<!-- begin logo -->
			<div id="promoLogo" class="section-promo__logo">
				<div class="logo">
					<div class="logo__image-container">
						<img src="{{root}}assets/images/logoGray_big.svg" alt="Фотограф Инга Заяц" class="logo__image" />
					</div>
				</div>
			</div>
			<!-- end logo -->
		</div>
		<video preload="none" autoplay loop muted playsinline poster="{{root}}assets/images/promo/video/poster.jpg"
			class="section-promo__video">
			<source src="../assets/images/promo/video/bg.mp4" type="video/mp4" />
			<source src="../assets/images/promo/video/bg.webm" type="video/webm" />
			Ваш браузер не поддерживает тег video.
		</video>
	</div>
</section>
