<section class="section section-services" id="sectionServices" data-magellan-target="sectionServices">
	<h3 class="section__headline section__headline_text_center">
		- Мои услуги -
	</h3>
	<div class="section__bg-image"
		data-interchange="[{{root}}assets/images/section/bg.jpg, small], [{{root}}assets/images/section/services/services-bg.jpg, medium], [{{root}}assets/images/section/services/services-bg.jpg, large]">
		<div class="section__card-container" data-equalizer data-equalize-by-row="true">
			<!-- begin services card -->
			{{#repeat 4}}
			<div class="section__card section__card_columns_two">
				{{> s-services-card}}
			</div>
			{{/repeat}}
			<!-- end services card -->
		</div>
	</div>
</section>
