// ========== 6.13. BEGIN SERVICES ITEM PAGE ========== //
.services-item {
  &__article-header {
    margin-top: 0.5rem;
  }

  &__article-headline {
    color: $black;
    padding-top: 1rem;
    @include breakpoint(small) {
      font-size: rem-calc(30);
    }
    @include breakpoint(medium) {
      font-size: rem-calc(40);
    }
    @include breakpoint(large) {
      font-size: rem-calc(60);
    }
  }

  &__article-content-subtitle {
    @include breakpoint(small) {
      font-size: rem-calc(15);
    }
    @include breakpoint(medium) {
      font-size: rem-calc(20);
    }
    @include breakpoint(large) {
      font-size: rem-calc(20);
    }
  }

  &__article-content-list {
    list-style: none;
    font-weight: bold;
    @include xy-cell;
    @include card-divider;
    @include breakpoint(small) {
      font-size: rem-calc(14);
    }
    @include breakpoint(medium) {
      font-size: rem-calc(16);
    }
    @include breakpoint(large) {
      font-size: rem-calc(17);
    }
  }

  &__section-card-intro {
    color: $black;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include card-divider;
    @include breakpoint(small) {
      font-size: rem-calc(14);
    }
    @include breakpoint(medium) {
      font-size: rem-calc(16);
    }
    @include breakpoint(large) {
      font-size: rem-calc(17);
    }
  }

  &__section-card-intro-item {
    @include breakpoint(small) {
      padding-left: 15px;
    }
    @include breakpoint(medium) {
      padding-left: 20px;
    }
    @include breakpoint(large) {
      padding-left: 30px;
    }
  }
}
// ========== END SERVICES ITEM PAGE ========== //
