<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionPromo"><i class="menu-main__icon fa fa-home"></i>Главная</a>
  {{else}}
    <a class="menu-main__link" href="{{root}}"><i class="menu-main__icon fa fa-home"></i>Главная</a>
  {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionAbout"><i class="menu-main__icon fa fa-user-o"></i>О Себе</a>
  {{else}}
   <a class="menu-main__link {{#ifpage 'about-me'}}is-active{{/ifpage}}" href="{{root}}/about-me.html"><i class="menu-main__icon fa fa-user-o"></i>О Себе</a>
  {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionPortfolio"><i class="menu-main__icon fa fa-briefcase"></i>Портфолио</a>
  {{else}}
    <a class="menu-main__link {{#ifpage 'portfolio-list' 'portfolio-children' 'portfolio-family' 'portfolio-male' 'portfolio-women'}}is-active{{/ifpage}}" href="{{root}}portfolio/portfolio-list.html"><i class="menu-main__icon fa fa-briefcase"></i>Портфолио</a>
  {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionBlog"><i class="menu-main__icon fa fa-list-alt"></i>Блог</a>
  {{else}}
    <a class="menu-main__link {{#ifpage 'blog-list' 'blog-item'}}is-active{{/ifpage}}" href="{{root}}/blog/blog-list.html"><i class="menu-main__icon fa fa-list-alt"></i>Блог</a>
  {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionTraining"><i class="menu-main__icon fa fa-graduation-cap"></i>Обучение</a>
  {{else}}
    <a class="menu-main__link {{#ifpage 'training-list' 'training-group-item' 'training-individual-item'}}is-active{{/ifpage}}" href="{{root}}training/training-list.html"><i class="menu-main__icon fa fa-graduation-cap"></i>Обучение</a>
  {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionServices"><i class="menu-main__icon fa fa-id-card"></i>Услуги</a>
  {{else}}
    <a class="menu-main__link {{#ifpage 'services-list' 'services-item'}}is-active{{/ifpage}}" href="{{root}}services/services-list.html"><i class="menu-main__icon fa fa-id-card"></i>Услуги</a>
  {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionNews"><i class="menu-main__icon fa fa-newspaper-o"></i>Новости</a>
  {{else}}
    <a class="menu-main__link {{#ifpage 'news-list' 'news-item'}}is-active{{/ifpage}}" href="{{root}}news/news-list.html"><i class="menu-main__icon fa fa-newspaper-o"></i>Новости</a>
  {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#sectionVideo"><i class="menu-main__icon fa fa-video-camera"></i>Видео</a>
   {{/ifequal}}
</li>

<li class="menu-main__item">
  {{#ifequal layout 'default'}}
    <a class="menu-main__link" href="#footer"><i class="menu-main__icon fa fa-address-card"></i>Контакт</a>
  {{else}}
    <a class="menu-main__link {{#ifpage 'contact'}}is-active{{/ifpage}}" href="{{root}}/contact.html"><i class="menu-main__icon fa fa-address-card"></i>Контакт</a>
  {{/ifequal}}
</li>
