//  ====== 5.9.  BEGIN FOOTER ====== //
.footer {
  background-color: $black;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100%;
	z-index: -1;
  
  &__container {
  	@include xy-grid;
  	@include padding(4,0,0,0);
  }

  &__logo {
  	margin: 0 auto;
  	@include flex-align(center, middle);
  }

	&__image-container {
		@include xy-grid;
		@include flex-align(center);
		@include breakpoint(small) {
			@include xy-cell(12);
		}
		@include breakpoint(medium) {
			@include xy-cell(6);
		}
		@include breakpoint(large) {
			@include xy-cell(3);
		}
	}

	&__image {
		@include flex-align-self(middle);
		@include breakpoint(small) {
			@include thumbnail;
			border: none;
			@include box($width:70%, $height:auto, $circle:true);
			margin-top: 1rem;
		}
		@include breakpoint(medium) {
			@include box($width:80%, $height:auto, $circle:true);
			margin-top: 0;
			margin-top: 0;
		}
		@include breakpoint(large) {
			@include box($width:100%, $height:auto, $circle:true);
			margin-top: 0;
		}
	}

	&__text-container {
		padding-top: 1.5rem;
		@include breakpoint(small) {
			@include xy-cell(12);
		}
		@include breakpoint(medium) {
			@include xy-cell(6);
		}
		@include breakpoint(large) {
			@include xy-cell(3);
		}

		&_text_center {
			text-align: center;
		}
	}

	&__text-headline {
		font-family: 'Open Sans Condensed',franklingothicdemicondcRg,Arial,Helvetica Neue,Helvetica,sans-serif;
		font-weight: 700;
		line-height: 1.2;
		color: $dark-gray;
		@include breakpoint(small) {
			font-size: rem-calc(1rem);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(1rem);
		}
		@include breakpoint(large) {
			font-size: rem-calc(2rem);
		}
	}

	&__text {
		line-height: 1.625;
		font-weight: 600;
		color: $medium-gray;
		padding-top: 1.5rem;
		@include breakpoint(small) {
			font-size: rem-calc(0.75rem);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(0.8rem);
		}
		@include breakpoint(large) {
			font-size: rem-calc(1.05rem);
		}

		&_text_left {
			text-align: left;
		}
	}

	&__form {
		@include breakpoint(small) {
			@include xy-cell(12);
		}
		@include breakpoint(medium) {
			@include xy-cell(12);
		}
		@include breakpoint(large) {
			@include xy-cell(6);
		}
	}	

	&__copyrighted {
		@include xy-cell($gutters:0);
		color: $dark-gray;
	}

	&__copyrighted-title {
		padding: 1rem;
		@include breakpoint(small) {
			font-size: 0.45rem;
		}
		@include breakpoint(medium) {
			font-size: 0.65rem;
		}
		@include breakpoint(large) {
			font-size: 0.75rem;
		}

		&_text_left {
			text-align: left;
		}
	}

	&__tag-cloud-section {
		padding: 1rem;
	}

	&__tag-link {
		color: $medium-gray;
		padding-left: 0.5rem;
		@include breakpoint(small) {
			font-size: 0.75rem;
		}
		@include breakpoint(medium) {
			font-size: 0.75rem;
		}
		@include breakpoint(large) {
			font-size: 0.95rem;
		}
		
		&:hover {
			color: $highlight;
		}
	}
}
// ====== END FOOTER ====== //