// =========== 5.25. BEGIN SOCIAL BUTTON ============ //
$social-button-size: 2.625rem;
$social-button-border-width: 0.115rem;
$social-button-font-size: 1.2625rem;
$social-button-line-height: 2em;
$social-button-border-radius: 1.6875rem;
$social-button-transition: all 0.5s ease;
$social-button-margin: 0.15rem;

// Source: https://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
$social-brand-facebook: #3b5998;
$social-brand-vk: #4680c2;
$social-brand-youtube: #bb0000;
$social-brand-instagram: #125688;

@mixin social-button($brand-color, $brand-icon) {
  background: $brand-color;

  &:before {
    font-family: 'FontAwesome';
    content: $brand-icon;
  }

  &:hover,
  &:focus {
    color: $brand-color;
    background: $white;
    border-color: $brand-color;
  }
}

.rounded-social-buttons {
  text-align: center;

  .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: $social-button-size;
    height: $social-button-size;
    border: $social-button-border-width solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: $white;
    font-size: $social-button-font-size;
    font-weight: normal;
    line-height: $social-button-line-height;
    border-radius: $social-button-border-radius;
    transition: $social-button-transition;
    margin-right: $social-button-margin;
    margin-bottom: $social-button-margin;

    &:hover,
    &:focus {
      transform: rotate(360deg);
    }

    &.facebook {
      @include social-button($social-brand-facebook, '\f09a');

      &_background_none {
        background: none;
        color: $medium-gray;

        &:hover,
        &:focus {
          color: $dark-gray;
          background: none;
          border-color: $dark-gray;
        }
      }
    }

    &.vkontakte {
      @include social-button($social-brand-vk, '\f189');

      &_background_none {
        background: none;
        color: $medium-gray;

        &:hover,
        &:focus {
          color: $dark-gray;
          background: none;
          border-color: $dark-gray;
        }
      }
    }

    &.youtube {
      @include social-button($social-brand-youtube, '\f167');

      &_background_none {
        background: none;
        color: $medium-gray;

        &:hover,
        &:focus {
          color: $dark-gray;
          background: none;
          border-color: $dark-gray;
        }
      }
    }

    &.instagram {
      @include social-button($social-brand-instagram, '\f16d');

      &_background_none {
        background: none;
        color: $medium-gray;

        &:hover,
        &:focus {
          color: $dark-gray;
          background: none;
          border-color: $dark-gray;
        }
      }
    }
  }
}

// ==== Begin styles for Yandex block Share ==== //
.ya-share2__container_size_m .ya-share2__icon {
  width: $social-button-size !important;
  height: $social-button-size !important;
  background-size: $social-button-size !important;

  &:hover,
  &:focus {
    border: $social-button-border-width solid transparent;
  }
}
.ya-share2__badge {
  border-radius: $social-button-border-radius !important;
  transition: $social-button-transition !important;

  &:hover,
  &:focus {
    transform: rotate(360deg);
  }
}

.ya-share2__item_service_vkontakte .ya-share2__badge:hover {
  background-color: $dark-gray !important;
}
.ya-share2__item_service_facebook .ya-share2__badge:hover {
  background-color: $dark-gray !important;
}
// ==== End styles for Yandex block Share ==== //

// =========== END SOCIAL BUTTON ============ //
