// ========== 6.15. BEGIN 404 PAGE ========== //
.error-page {
	position: relative;
  height: 100vh;
	width: 100%;
	background-color: $black;
	margin-top: -8px;
	
	&__content {
		@include absolute-center;
	}

	&__headline {
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-weight: 900;
		color: #030005;
  	text-transform: uppercase;
  	text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
		@include breakpoint(small) {
			font-size: rem-calc(24);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(38);
		}
		@include breakpoint(large) {
			font-size: rem-calc(58);
		}

		strong {
			@include breakpoint(small) {
				font-size: rem-calc(44);
			}
			@include breakpoint(medium) {
				font-size: rem-calc(58);
			}
			@include breakpoint(large) {
				font-size: rem-calc(98);
			}
		}
	}

	&__text {
		font-family: 'Montserrat', sans-serif;
		text-align: center;
  	text-shadow: 0px 1px 0px #8400ff;
  	color: #fff;
		@include breakpoint(small) {
			font-size: rem-calc(12);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(14);
		}
		@include breakpoint(large) {
			font-size: rem-calc(18);
		}
	}

	&__button-area {
		@include xy-grid;
		@include flex-align(center, middle);
	}

	&__link {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
  	color: #ff005a;
  	text-decoration: none;
  	border: 2px solid;
  	background: transparent;
  	padding: 10px 40px;
  	font-size: 14px;
  	font-weight: 700;
    -webkit-transition: 0.2s all;
  	transition: 0.2s all;
  	
  	&:hover {
  		color: #8400ff;
  		background: transparent;
  	}
	}
}
// ========== END 404 PAGE ========== //