<!-- begin comments -->
<div class="comment">
  <!-- begin comment inner -->
  <div class="comment__inner">
    <div class="comment__headline">
      Комментарии (3)
    </div>
    <div class="comment__separator"></div>

      <!-- begin comment item -->
      <div class="comment__item">
        <div class="comment__block">

          <!-- begin comment avatar -->
          <div class="comment__avatar">
            <img src="{{root}}assets/images/comments/avatar.png" alt="Аватар" class="avatar__image">
            <p class="avatar__signature">Аватар Аватарыч</p>
          </div>
          <!-- end comment avatar -->

          <!-- begin comment metadata -->   
          <div class="comment__metadata">
            <!-- begin published date -->
            <div class="published-date comment__published-date">
              <span class="published-date__date published-date__date_color_gray">1 час назад</span>
            </div>
            <!-- end published date -->
          </div>
          <!-- end comment metadata -->

          <!--begin comment text -->
          <div class="comment__text-container">
            <p class="comment__text">Lorem ipsum dolor.</p>
          </div>
          <!-- end comment text -->
        </div>

        <!-- begin comment reply -->
        <div class="comment__reply">
          <a class="comment__reply-link"><span>Ответить</span></a>
        </div>
        <!-- end comment reply -->
      </div>
      <!-- end comment item -->


      <!-- begin comment item -->
      <div class="comment__item">
        <div class="comment__block">

          <!-- begin comment avatar -->
          <div class="comment__avatar">
            <img src="{{root}}assets/images/comments/default.png" alt="Аватар" class="avatar__image">
            <p class="avatar__signature">Сеня Петрович</p>
          </div>
          <!-- end comment avatar -->

          <!-- begin comment metadata -->   
          <div class="comment__metadata">
            <!-- begin published date -->
            <div class="published-date comment__published-date">
              <span class="published-date__date published-date__date_color_gray">2 часа назад</span>
            </div>
            <!-- end published date -->
          </div>
          <!-- end comment metadata -->

          <!--begin comment text -->
          <div class="comment__text-container">
            <p class="comment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.</p>
          </div>
          <!-- end comment text -->
        </div>

        <!-- begin comment reply -->
        <div class="comment__reply">
          <a class="comment__reply-link"><span>Ответить</span></a>
        </div>
        <!-- end comment reply -->
      </div>
      <!-- end comment item -->

      <!-- begin comment item -->
      <div class="comment__item">
        <div class="comment__block">
          <!-- begin comment dialog -->
          <div class="comment__dialog">

            <!-- begin comment avatar -->
            <div class="comment__avatar">
              <img src="{{root}}assets/images/author/inga.png" alt="Фотограф Инга Заяц" class="avatar__image">
              <p class="avatar__signature">Инга Заяц</p>
            </div>
            <!-- end comment avatar -->

            <!-- begin comment metadata -->   
            <div class="comment__metadata">
              <!-- begin published date -->
              <div class="published-date comment__published-date">
                <span class="published-date__date published-date__date_color_gray">2 часа назад</span>
              </div>
              <!-- end published date -->
            </div>
            <!-- end comment metadata -->

            <!--begin comment text -->
            <div class="comment__text-container">
              <p class="comment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.</p>
            </div>
            <!-- end comment text -->
          </div>
          <!-- end comment dialog -->
        </div>

        <!-- begin comment reply -->
        <div class="comment__reply">
          <a class="comment__reply-link"><span>Ответить</span></a>
        </div>
        <!-- end comment reply -->
      </div>
      <!-- end comment item -->

  </div>
  <!-- end comment inner -->

  <!-- begin comments form -->
  <div class="comment__form">
    <h3 class="comment__form-headline">Добавить комментарий</h3>
    {{> comment-form}}
  </div>
  <!-- end comments form -->
</div>
<!-- end comments -->