<!-- begin subscribe -->
<div class="subscribe">
  <h5 class="subscribe__headline">Подписывайся</h5>
  <div class="subscribe__form">
    <form>
      <p class="subscribe__text">Получайте обновления и последние новости.</p>
      <p class="subscribe__text">Просто введите свой адрес электронной почты:</p>
      <div class="input-group">
        <span class="input-group-label">
          <i class="fa fa-envelope"></i>
        </span>
        <input class="input-group-field" type="email" placeholder="Email">
      </div>
      <button class="button primary">Подписаться</button>
    </form>
  </div>
</div>
<!-- end subscribe -->
