<form class="form">

  <div class="alert-box callout alert">
    <span><i class="fa fa-ban"></i> В вашей форме есть некоторые ошибки!</span>
  </div>

  <div class="alert-box callout success">
   <span><i class="fa fa-check"></i> Ваше сообщение отправлено!</span>
  </div>

  <label class="form__label">
    Имя *:
    <br><span class="form__error">Это поле обязательно к заполнению!</span>
    <input type="text" class="form__input">
  </label>

  <label class="form__label">
    Email *:
    <input type="email" class="form__input">
  </label>

  <label class="form__label">
    Комментарий *:
    <textarea class="form__textarea" rows="10"></textarea>
  </label>

  <button class="button">Комментировать</button>
  
</form>