<form class="form form__services">
	<div class="alert-box callout alert">
		<span><i class="fa fa-ban"></i> В вашей форме есть некоторые ошибки!</span>
	</div>

	<div class="alert-box callout success">
		<span><i class="fa fa-check"></i> Ваше сообщение отправлено!</span>
	</div>

	<label class="form__label">
		<br /><span class="form__error">Это поле обязательно к заполнению!</span>
		<input type="text" class="form__input" placeholder="Фамилия" />
	</label>

	<label class="form__label">
		<input type="text" class="form__input" placeholder="Имя" />
	</label>

	<label class="form__label">
		<input type="email" class="form__input" placeholder="Email" />
	</label>

	<label class="form__label">
		<input type="tel" class="form__input" placeholder="Телефон" />
	</label>

	<label class="form__label">
		<textarea class="form__textarea" rows="6" placeholder="Сообщение"></textarea>
	</label>

	<button class="button">Отправить</button>
</form>
