<a href="{{root}}services/services-item.html" class="widget__link">

  <div class="widget">

    <div class="widget__image-bg" style="background-image: url({{root}}assets/images/services/package-1/preview/package-1.jpg)">
    </div>

    <div class="widget__block-container widget__block-container_position_top">
      <div class="widget__block-inner">

        <div class="widget__label">
          <div class="widget__label-price widget__label-price_text_shadow">
            <span class="widget__label-money-symbol">₽</span>20 000
          </div>
        </div>

      </div>
    </div>
  
    <div class="widget__block-container widget__block-container_position_center widget__block-container_size_full">
      <h4 class="widget__headline widget__headline_text_center widget__headline_text_shadow widget__headline_color_gray">Пакет «Минимум»</h4>
    </div>

  </div>
</a>