<a href="{{root}}training/training-group.html" class="widget__link">

  <div class="widget">

    <div class="widget__image-bg" style="background-image: url({{root}}assets/images/blog/post-2/preview/post-2.jpg)">
    </div>
  
    <div class="widget__block-container widget__block-container_position_center widget__block-container_size_full">
      <h4 class="widget__headline widget__headline_text_center widget__headline_text_shadow widget__headline_color_orange">Группа обучения</h4>
    </div>

    <div class="widget__block-container widget__block-container_position_bottom widget__block-container_size_full">
      <p class="widget__introtext widget__introtext_color_gray widget__introtext_text_shadow">Длительность курса - 3 недели (6 занятий с преподавателем в группе)</p>
    </div>

  </div>
</a>