// ====== 5.1. BEGIN AUTHOR WIDGET ====== //
.author-widget {
  background-color: $white;
  margin-bottom: 0.5rem;
  border: 1px solid $medium-gray;

  &__title {
    @include xy-cell();
    padding-top: 0.5rem;
    font-family: 'Open Sans Condensed',franklingothicdemicondcRg,Arial,Helvetica Neue,Helvetica,sans-serif;
    color: $introtext-color;
    text-transform: uppercase;
  }

  &__image {
    //@include badge;
    @include xy-cell;
    border: 1px solid $medium-gray;
  }

  &__social-icon {
    @include xy-cell;
    text-align: center;
    margin-top: 0.9rem;
    margin-bottom: 0.7rem;
  }

  &__content-container {
    @include xy-cell;
    text-align: left;
    @include clearfix;
  }

  &__name {
    font-family: 'Open Sans Condensed',franklingothicdemicondcRg,Arial,Helvetica Neue,Helvetica,sans-serif;
    text-align: left;
    @include clearfix;
    color: $introtext-color;
    
     &::after {
      position: relative;
      width: 5rem;
      border-bottom: 0.125rem solid $primary-color;
      margin: 0.3rem auto 0;
      margin-left: 0;
    }
  }

  &__description {
    font-size: rem-calc(11);
    @include font-italic;
    line-height: 1;
    padding-top: rem-calc(5);
  }

  &__content {
    color: $post-color;
    @include card-section;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.25;
    opacity: 0.9; 
  }
}
// ====== END AUTHOR WIDGET ====== //