<div class="flip-card" data-equalizer-watch>
  <div class="flip-card__inner">
    <div class="flip-card__inner-front section-portfolio__flip-card-inner-front section-portfolio__flip-card-inner-front_women" style="background-image: url({{root}}assets/images/portfolio/women-portfolio/women-portfolio-main.jpg)">
      <span class="flip-card__inner-front-headline">Имя альбома портфолио</span>
    </div>
    <div class="flip-card__inner-back">
      <div class="flip-card__inner-back-avatar">
        <div class="avatar">
          <img src="{{root}}assets/images/author/inga.png" alt="Фотограф Инга Заяц" class="avatar__image flip-card__inner-back-avatar-image">
        </div>
      </div>
      <div class="flip-card__inner-back-text-container">
        <p class="flip-card__inner-back-text">Каждая женщина красива и неповторима - для меня это очевидно, и моя задача как фотографа - раскрыть и показать эту красоту прежде всего самой женщине...</p>
      </div>
      <a href="portfolio/portfolio-item.html" class="button flip-card__inner-back-button">Смотреть</a>
    </div>
  </div>
</div>