<div class="section-card services-list__section-card">
	<div class="section-card__image-bg"
		style="background-image: url({{root}}assets/images/section/services/services-card.jpg)"></div>
	<div class="section-card__block-container section-card__block-container_position_top">
		<div class="section-card__block-inner">
			<div class="section-card__label">
				<div class="section-card__label-price">
					<span class="section-card__label-money-symbol">₽</span>20 000
				</div>
			</div>
		</div>
	</div>
	<div class="section-card__block-container">
		<h3 class="section-card__headline services-list__section-card-headline">
			Пакет «Минимум»
		</h3>
	</div>
	<div class="section-card__intro services-list__section-card-intro">
		<ul class="section-card__intro-list" data-equalizer-watch>
			<li class="section-card__intro-item">Фотосъёмка - 1 час</li>
			<li class="section-card__intro-item">
				Аренда фотостудии премиум-класса - 1 час
			</li>
			<li class="section-card__intro-item">
				10 обработанных фотографий + весь архив фотосессии
			</li>
		</ul>
	</div>
	<div class="section-card__block-container">
		<div class="section-card__block-inner">
			<div class="section-card__block section-card__block_position_center">
				<a href="{{root}}services/services-item.html" class="button">Перейти</a>
			</div>
		</div>
	</div>
</div>
