<div class="section-card">
  <div class="section-card__image-bg" style="background-image: url({{root}}assets/images/training/group/lesson/lesson-1/preview/lesson-1.jpg)">
  </div>
  <div class="section-card__block-container section-card__block-container_position_top">
    <div class="section-card__block-inner">
      <div class="section-card__block section-card__block_position_right">
        <div class="published-date">
          <span class="published-date__date published-date__date_text_shadow">
            <time datetime="2019-01-04 19:00">Январь 4, 2019</time>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="section-card__intro" data-equalizer-watch>  
    <h3 class="section-card__headline">Заголовок карты</h3>
    <div class="section-card__introtext">
      <p class="section-card__text">Вводный текст (вступление) Вводный текст (вступление) Вводный текст (вступление) Вводный текст (вступление) Вводный текст (вступление)</p>
    </div>
  </div>
  <div class="section-card__block-container">
    <div class="section-card__block-inner">
      <div class="section-card__block section-card__block_position_left">
        {{> avatar}}
      </div>
      <div class="section-card__block section-card__block_position_right">
        <a href="blog/blog-item.html" class="button">Читать</a>
      </div>
    </div>  
  </div>
</div>