<div class="section-card" data-equalizer-watch>
  <a href="{{root}}training/training-group.html" class="section-card__link">
    <div class="section-card__image-bg" style="background-image: url({{root}}assets/images/training/group/lesson/lesson-1/preview/lesson-1.jpg)">
    </div>
  </a>
  <div class="section-card__block-container section-card__block-container_position_center section-card__block-container_size_full">
    <h3 class="section-card__headline section-card__headline_text_center section-card__headline_text_shadow"><a href="{{root}}training/training-group.html" class="section-card__link section-card__link_color_gray">Индивидуальная программа</a></h3>
  </div>
  <div class="section-card__block-container section-card__block-container_position_bottom section-card__block-container_size_full">
    <div class="section-card__introtext">
      <p class="section-card__text section-card__text_color_gray section-card__text_text_shadow">Длительность курса - 3 недели (6 занятий с преподавателем в группе)</p>
    </div>
  </div>
</div>