// ========== 5.11. BEGIN SEARCH FORM  ========== //
.search-toggle {
	color: rgba(199, 195, 195, 0.95);
	@include breakpoint(small) {
			font-size: rem-calc(20);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(24);
		}
		@include breakpoint(large) {
			font-size: rem-calc(20);
		}

		&:hover,
  	&:focus {
    	color: rgba(133, 130, 130, 1);
		}

		&.active {
			display: none;
		}
}

.search {

	&__container {
	padding: 1rem 0 0.2rem 0;
	margin-top: -0.5rem;
  width: 100%;
	background-color: $black;
	@include display(none);
	position: fixed;
	overflow: hidden;
  z-index: 50;
	
		&.active {
			@include display(block);
		}
	}

	&__form-container {
		@include xy-grid;
	}
}

.search-form {
	@include xy-cell;
	
	&__input-group-field {
		background: rgba(3, 3, 3, 1);
		color: $introtext-color;
		border: 0.5px solid #cacaca;
		@include breakpoint(small) {
			font-size: rem-calc(14);
		}
		@include breakpoint(medium) {
			font-size: rem-calc(26);
		}
		@include breakpoint(large) {
			font-size: rem-calc(30);
		}
		
		&:hover,
		&:focus {
			background: rgba(22, 22, 22, 1);
			border: 0.5px solid rgba(199, 195, 195, 0.95);
			outline: none;
		}

		&::-webkit-input-placeholder {color:$introtext-color; opacity:1;}
		&::-moz-placeholder          {color:$introtext-color; opacity:1;}
		&:-moz-placeholder           {color:$introtext-color; opacity:1;}
		&:-ms-input-placeholder      {color:$introtext-color; opacity:1;}
	}

	&__input-group-button {
		border: 1px solid rgba(199, 195, 195, 0.95);
		i {
			color: rgba(199, 195, 195, 0.95);
		}
	}
}
// ========== END SEARCH FORM ========== //