<div class="author-widget">
	<div class="author-widget__title">Об авторе</div>
		<div class="author-widget__image-container">
			<img class="author-widget__image" src="{{root}}assets/images/author/inga-card.jpg" alt="Фотограф Инга Заяц">
		</div>
		<div class="author-widget__social-icon">
			{{> social-button-round}}
		</div>
		<div class="author-widget__content-container">
			<span class="author-widget__name">Инга Заяц</span>
			<p class="author-widget__description">Фотограф</p>
			<p class="author-widget__content">Моя задача состоит в том, чтобы увидеть истинную красоту каждого из вас и раскрыть ее через объектив фотоаппарата.</p>
			<p class="author-widget__content">Чтобы вы, увидев себя на снимках, стали чуть счастливее и поверили в свою красоту! А самое главное, когда счастливы вы, - счастлива я!</p>
		</div>
</div>