<!-- begin counters eye -->
<div class="block-counter-eye">
	<div class="counter counter-eye">
		<span class="counter__icon counter-eye__icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
		<span class="counter__number counter-eye__number">324555</span>
	</div>
</div>
<!-- end counters eye -->

<!-- begin counters commenting -->
<div class="block-counter-commenting">
	<div class="counter counter-commenting">
		<a href="#comments" class="counter__link counter-commenting__link">
			<span class="counter__icon counter-commenting__icon"><i class="fa fa-commenting-o" aria-hidden="true"></i></span>
			<span class="counter__number counter-commenting__number">55</span>
		</a>
	</div>
</div>
<!-- end counters commenting -->

<!-- begin published date -->
<div class="published-date">
	<span class="published-date__icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
	<span class="published-date__published blog-item__published-date-published">Опубликовано:</span>
	<span class="published-date__date"><time datatime="2018-02-24">Февраль 24, 2018</time></span>
</div>
<!-- end published date -->

<!-- begin clock -->
<div class="published-clock">
	<time datetime="2019-01-04T15:25:55">
		<span class="published-clock__icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
		<span class="published-clock__time">1:28</span>
	</time>
</div>
<!-- end clock -->
