// ========== 7.1. BEGIN SIDEBAR ========== //
.sidebar-widget {
  border: 1px solid $medium-gray;
  margin: 10px 0;
  
  &__headline {
    font-weight: 600;
    color: $dark-gray;
    text-transform: uppercase;
    @include xy-cell();
    padding-top: 0.5rem;
    @include xy-grid;
    @include breakpoint(small) {
      font-size: rem-calc(14);
    }
    @include breakpoint(medium) {
      font-size: rem-calc(12);
    }
    @include breakpoint(large) {
      font-size: rem-calc(16);
    }
  }
}
// ========== END SIDEBAR ========== //